.main-header {
    .wrap {
        background-color: $gray-800;
        padding: 16px;
        padding-left: 22px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title {
        color: $red-300;
        text-transform: uppercase;
    }

    &__navigation {
        display: none;
    }
}

@media(min-width: #{map-get($breakpoints, 'md')}px) {
    .main-header {
        &__right {
            display: flex;
        }

        &__navigation {
            display: flex;
        }
    }
}