.post-list {
    margin-top: 24px;
}

@media(min-width: #{map-get($breakpoints, 'md')}px) {
    .post-list {
        margin-top: 32px;

        .wrap {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__highlighted {
            width: 74.5%;
        }

        &__list {
            width: 23.5%;
            overflow: hidden;
            max-height: 642px;
            margin-top: 6px;
        }
    }
}