.post-list {
    margin-top: 24px;

    &__highlighted {
        .card{
            width: 100%;
        }
    }

    &__list {
        display: flex;
        overflow-x: scroll;
        width: 100vw;

        .card {
            min-width: 292px;
            margin-right: 16px;
        }
    }
}

@media(min-width: #{map-get($breakpoints, 'md')}px) {
    .post-list {
        margin-top: 32px;

        .wrap {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        &__highlighted {
            width: 74.5%;
        }

        &__list {
            width: 23.5%;
            overflow: hidden;
            max-height: 642px;
            margin-top: 6px;
            display: block;
            overflow-x: hidden;
            // overflow-y: hidden
            width: 23.5%;

            .card {
                min-width: unset;
                margin-right: 0;
            }
        }
    }
}