.container{
  position: relative;
  width: 100%;
  max-width: $container;
  margin: 0 auto;
  padding: 0 24px;
} 

html *{
  font-family: $font-family-primary;
  box-sizing: border-box;
}

body{
  background: $black-gradient;
}
