.container{
  position: relative;
  width: calc(100% - 48px);
  max-width: $container;
  margin: 0 auto;
} 

html *{
  font-family: $font-family-primary;
  box-sizing: border-box;
}

body{
  background: $black-gradient;
}
