$font-family-primary: "Open Sans", sans-serif;

$font-sizes: (
  xxs: 12px,
  xs: 14px,
  sm: 16px,
  md: 20px,
  lg: 26px,
  xl: 28px,
);

$line-heights: (
  xxs: 16px,
  xs: 19px,
  sm: 22px,
  md: 24px,
  lg: 30px,
  xl: 34px,
);
