@media(min-width: #{map-get($breakpoints, 'md')}px) {

    .background {
        display: block;
        position: absolute;
        top: -85px;
        left: -108px;
        background: $black-gradient;
        width: 130vw;
        height: calc(100% + 118px);
        z-index: -1;
        border-radius: 8px 0 0 8px;
    }
}