.card {
    position: relative;
    display: inline-block;
    border-radius: 8px 8px 0px 0px;
    overflow: hidden;
    margin-bottom: 22px;

    &--featured-img {
        display: block;
        max-height: 202px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &--icon-video {
        position: absolute;
        top: 13px;
        left: 16px;
        width: 33px;
        height: 33px;
        -webkit-mask-image: url('../images/video-icon.svg');
        mask-image: url('../images/video-icon.svg');
        background-color: $white;
        -webkit-mask-size: cover;
        mask-size: cover;
        transition: .4s;
    }

    &--data {
        background: $gray-800;
        border-radius: 0px 0px 4px 4px;
        padding: 16px;
    }

    &--comments {
        display: none;
    }

    &--category {
        color: $red-300;
        font-weight: 700;
        text-transform: uppercase;
        font-size: map-get($font-sizes, 'xxs');
        line-height: map-get($line-heights, 'xxs');
        display: block;
    }

    &--title {
        color: $white;
        font-weight: 700;
        font-size: map-get($font-sizes, 'sm');
        line-height: map-get($line-heights, 'sm');
        margin-top: 6px;
    }
}

@media(min-width: #{map-get($breakpoints, 'md')}px) {
    .card {
        $s: &;
        transition: .4s;
        border-radius: 8px;
        border: 3px solid transparent;
        width: 100%;
        margin-bottom: 22px;

        &:hover {
            border: 3px solid $red-300;

            #{$s}--icon-video {
                background-color: $red-300
            }

            #{$s}--comments {
                opacity: 1;
            }
        }

        &--featured-img {
            max-height: 204px;
        }

        &--data {
            padding: 14px 12px;
            position: relative;
        }

        &--comments {
            position: absolute;
            display: block;
            right: 12px;
            top: -18px;
            transform: translateY(-100%);
            opacity: 0;
            transition: .4s;

            &::before {
                content: '';
                display: inline-block;
                width: 18px;
                height: 15px;
                -webkit-mask-image: url('../images/comment-icon.svg');
                mask-image: url('../images/comment-icon.svg');
                background-color: $red-100;
                -webkit-mask-size: cover;
                mask-size: cover;
                margin-right: 8px;
            }

            span {
                color: $red-100;
                font-size: map-get($font-sizes, 'xxs');
                line-height: map-get($line-heights, 'xxs');
                font-weight: 700;
            }
        }

        &--icon-video {
            left: 12px;
        }

        &--highlighted {
            min-height: 642px;
            padding: 44px 40px;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            margin-bottom: 0px;
            border: 4px solid transparent;

            #{$s}--featured-img {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                max-height: unset;
                z-index: -1;
            }

            #{$s}--icon-video {
                position: relative;
                width: 60px;
                height: 60px;
                top: 0;
                left: 0;
                background-size: cover;
            }

            #{$s}--data {
                background: transparent;
                padding: 0;
                max-width: 715px;
            }

            #{$s}--category {
                margin-top: 16px;
            }

            #{$s}--title {
                font-size: map-get($font-sizes, 'lg');
                line-height: map-get($line-heights, 'lg');
                margin-top: 8px;
            }

            &:hover {
                border: 4px solid $red-300;
            }
        }
    }
}